@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

html {
    font-family: 'Prompt', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(255, 255, 255);
    height: 64px;
    display: flex;
    justify-content: space-between;
    /* outline: 1px solid green; */
    align-items: center;
    position: fixed;
    width: 100%;
}

.menu-list {
    display: flex;
    gap: 16px;
    /* outline: 1px solid green; */
    align-items: center;
    margin-right: 24px;
    height: 100%;
    font-size: 20px;
}

.menu-list li a span {
    color: rgb(46, 46, 48);
}

.logo-container {
    /* outline: 1px solid green; */
    align-items: center;
    margin-left: 24px;
    display: flex;
    align-items: center;
    height: 64px;
}

li {
    list-style: none;
}

.logo-texts {
    font-size: 20px;
}

.logo-text-one {
    font-weight: bold;
    color: rgb(70, 70, 71);
}

.logo-text-two {
    color: rgb(161, 159, 159);
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(228, 227, 227);
}

#logo {
    height: 60px;
}

header {
    display: flex;
    background-color: rgb(185, 185, 185);
    width: 100%;
    /* outline: 2px solid green; */

}

.header-container-one {
    /* outline: 2px solid red; */
    width: 60%;
    height: 100%;
}

.headerimg {
    width: 90%;
    margin-top: 32px;
    margin-left: 24px;
    margin-bottom: 32px;
    padding-right: 24px;
}

.header-container-two {
    /* outline: 2px solid rgb(63, 10, 255); */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(83, 82, 82);
    /* outline: 1px solid greenyellow; */
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(83, 82, 82);
    /* outline: 1px solid greenyellow; */
    margin-top: 20px;
}

.start-here {
    /* outline: 1px solid greenyellow; */
    height: 6%;
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    color: #e4e2e2;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 20px;
    background-color: rgb(83, 82, 82);
}

.container-main{
    display: flex;
    flex-direction: column;
}

.textcontent {
    color: rgb(83, 82, 82);
    margin-left: 24px;
}

.textcontent-1 {
    margin-top: 24px;
    margin-left: 24px;
    color: rgb(83, 82, 82);
}

.textcontent-2 {
    margin-top: 24px;
    margin-left: 24px;
    margin-bottom: 32px;
    color: rgb(83, 82, 82);
}

.container-2 {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(83, 82, 82); */
    width: 40%;
    gap: 4px;

}

.section-2-img {
    width: 35%;
    height: auto;
}

.forum-content {
    padding: 16px 16px;
    background-color: rgba(255, 255, 253, 0.829);
    display: flex;
    flex-direction: row;
    /* outline: 1px solid orange; */
    align-items: center;
}

.sidetext {
    margin-left: 16px;

}

.sidetext a {
    color: rgb(21, 95, 117);

}

.sidetext h3 {
    margin-bottom: 8px;
}

.sidetext p {
    margin-bottom: 8px;
}
.main-content-2 { 
    display: flex;
    flex-direction: row;
}
.learnings{
    text-align: center;
    background-color: #e4e2e2;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.learnings h2{
    margin-top: 32px;
}
.container__learnings{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 32px;
    /* outline: 1px solid red; */
    
    /* margin-left: 72px;
    margin-right: 32px; */
    
}
.imgcard { 
    height: auto;
    width: auto;
}
.card { 
    /* border: 1px solid red; */
    background-color: #fff;
    /* outline: 1px solid red; */
    margin-bottom: 32px;
    
}
.description{
    text-align: left;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.thesis { 
    text-align: center;
}
.thesis-text {
    margin:32px;
    font-size: 2rem;
}
.thesis-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* justify-content: space-between; */
    /* outline: 1px solid red; */
}
.video-thesis video{
    width: 100%;
} 
.video-thesis {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 24px;
    /* outline: 1px solid red; */
    width: 60%;
}
.description h3 {
    margin-bottom: 8px;
    margin-top: 24px;
}
.description p {
    margin-bottom: 32px;
}
.thesis-content{
    /* outline: 1px solid green; */
    width: 40%;
}
.thesis__item{
    display: flex;
    /* outline: 1px solid green; */
}
.thesisimg{
    width: 35%;
    height: auto;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
}
.thesis__item__content{
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 12%;
    margin-left: 24px;
}
.thesis__item__content h3 {
    text-align: left;
    margin-bottom: 8px;
}
.thesis__item__content p {
    text-align: left;
    margin-bottom: 8px;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.footer p {
    margin-top: 16px;
    margin-left: 24px;
}
.footer ul{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
