
html {
    height: 100%;
    width: 100%;
  }

footer {
    margin-top: 16px;
    margin-left: 24px;
}
/* end section footer */

.course-hover {
    background-color: #0056b3;
  }



* {
    font-family: mukta, sans-serif;
    margin: 0;
    padding: 0;   
}

a {
    cursor: pointer;
}

nav {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    padding-right: 24px;
    padding-left: 24px;
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-list-mobile {
    display: none;
}


.colmaracademy-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.acadamy {
    color: grey;
}
/* end section nav */

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #c5c2c2;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
}


.hero-h1-font {
    font-size: 100px;
    margin-left: 24px;
}

.hero-h2-font {
    font-size: 50px;
    font-weight: 300;
    margin-left: 24px;
}

.start-here {
    width: 80%;
    margin-left: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}
/* end section hero */

.news {
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 24px;
}

.news-big {
    width: 60%;
}

.information-h2-font {
    font-size: 50px;
    font-weight: 300;
}

.news-small {
    width: 40%;
    align-items: l;
    padding-top: 4rem;
}

.news-mobile-img {
    display: none;
}

.news-small-list-content {
    border: 1px solid gray;
    padding: 6px;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.news-h3-font {
    font-size: 30px;
    font-weight: 300;
}








/*
@media only screen and (max-width: 425px) {

    .colmaracademy-logo, .menu-span {
        display: none;
    }

    .menu-list-mobile {
        background-color: red;
        width: 100%;
        
        display: initial;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .menu-list {
        display: none;
        padding-right: 0;
        padding-left: 0;
        gap: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
*/